@model DevXuongMoc.Models.AdminUser

@{
    ViewData["Title"] = "Xóa Chi Tiết Người Dùng Admin";
}


<div >
    <div class="row">
        <h4>Bạn muốn xóa tài khoản này?</h4>
        <div class="col-12">
            <dl>
                <!-- Tài Khoản -->
                <dt>@Html.DisplayNameFor(model => model.Account)</dt>
                <dd>@Html.DisplayFor(model => model.Account)</dd>

                <!-- Mật Khẩu -->
                <dt>@Html.DisplayNameFor(model => model.Password)</dt>
                <dd>@Html.DisplayFor(model => model.Password)</dd>

                @*  <!-- Mã Nhân Sự -->
                <dt>@Html.DisplayNameFor(model => model.MaNhanSu)</dt>
                <dd>@Html.DisplayFor(model => model.MaNhanSu)</dd> *@

                <!-- Tên -->
                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>

                @*  <!-- Số Điện Thoại -->
                <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                <dd>@Html.DisplayFor(model => model.Phone)</dd>

                <!-- Email -->
                <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                <dd>@Html.DisplayFor(model => model.Email)</dd> *@

               @*  <!-- Avatar -->
                <dt>@Html.DisplayNameFor(model => model.Avatar)</dt>
                <dd class="avatar" style=" flex: 0 0 250px;">
                    <img src="@Model.Avatar" alt="Avatar">
                </dd> *@
                @*
                <!-- ID Phòng Ban -->
                <dt>@Html.DisplayNameFor(model => model.IdPhongBan)</dt>
                <dd>@Html.DisplayFor(model => model.IdPhongBan)</dd>

                <!-- Ngày Tạo -->
                <dt>@Html.DisplayNameFor(model => model.NgayTao)</dt>
                <dd>@Html.DisplayFor(model => model.NgayTao)</dd>

                <!-- Người Tạo -->
                <dt>@Html.DisplayNameFor(model => model.NguoiTao)</dt>
                <dd>@Html.DisplayFor(model => model.NguoiTao)</dd>
                <!-- Ngày Cập Nhật -->
                <dt>@Html.DisplayNameFor(model => model.NgayCapNhat)</dt>
                <dd>@Html.DisplayFor(model => model.NgayCapNhat)</dd>

                <!-- Người Cập Nhật -->
                <dt>@Html.DisplayNameFor(model => model.NguoiCapNhat)</dt>
                <dd>@Html.DisplayFor(model => model.NguoiCapNhat)</dd>

                <!-- Session Token -->
                <dt>@Html.DisplayNameFor(model => model.SessionToken)</dt>
                <dd>@Html.DisplayFor(model => model.SessionToken)</dd>

                <!-- Salt -->
                <dt>@Html.DisplayNameFor(model => model.Salt)</dt>
                <dd>@Html.DisplayFor(model => model.Salt)</dd>

                <!-- Quyền Admin -->
                <dt>@Html.DisplayNameFor(model => model.IsAdmin)</dt>
                <dd>@Html.DisplayFor(model => model.IsAdmin)</dd>

                <!-- Trạng Thái -->
                <dt>@Html.DisplayNameFor(model => model.TrangThai)</dt>
                <dd>@Html.DisplayFor(model => model.TrangThai)</dd>

                <!-- Xóa -->
                <dt>@Html.DisplayNameFor(model => model.IsDelete)</dt>
                <dd>@Html.DisplayFor(model => model.IsDelete)</dd> *@
            </dl>
        </div>
    </div>

    <!-- Nút Xóa và Quay Lại -->
    <div class="text-center mt-5">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa" class="btn btn-danger btn-lg  mt-3" />
            <a asp-action="Index" class="btn btn-secondary btn-lg  mt-3">Quay Lại</a>
        </form>
    </div>
</div>