@model DevXuongMoc.Models.AdminUser

@{
    ViewData["Title"] = "Chi tiết người dùng";
   
}
@* <style>
    .col-sm-6{
        font-size:16px;
    }
    .col-sm-6{
        font-size:16px;
    }
</style> *@

<div class="card shadow-sm">
    <div class="card-body">
        <h4>Thông tin người dùng</h4>
        <hr />
        <div class="row">
            <!-- Cột 1 -->
           
                <dl class="row">
                    <dt class="col-sm-6">Tài khoản</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Account)</dd>

                    <dt class="col-sm-6">Mật khẩu</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Password)</dd>

                    <dt class="col-sm-6">Mã nhân sự</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.MaNhanSu)</dd>

                    <dt class="col-sm-6">Tên</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-6">Số điện thoại</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Phone)</dd>

                    <dt class="col-sm-6">Email</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Email)</dd>
                


                
                    <dt class="col-sm-6">Ảnh đại diện</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Avatar)</dd>

                    <dt class="col-sm-6">Phòng ban</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.IdPhongBan)</dd>

                    <dt class="col-sm-6">Ngày tạo</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.NgayTao)</dd>

                    <dt class="col-sm-6">Người tạo</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.NguoiTao)</dd>

                    <dt class="col-sm-6">Ngày cập nhật</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.NgayCapNhat)</dd>

                    <dt class="col-sm-6">Người cập nhật</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.NguoiCapNhat)</dd>

                    <dt class="col-sm-6">Session Token</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.SessionToken)</dd>

                    <dt class="col-sm-6">Salt</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Salt)</dd>

                    <dt class="col-sm-6">Quản trị viên</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.IsAdmin)</dd>

                    <dt class="col-sm-6">Trạng thái</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.TrangThaiText)</dd>

                    <dt class="col-sm-6">Đã xóa</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.IsDelete)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-3 text-center">
    <button class="btn btn-primary ajax-action" data-url="@Url.Action("Edit", new { id = Model.Id })">Sửa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".click").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
    </script>
