@using System.Web
@model DevXuongMoc.Models.Banner

@{
    ViewData["Title"] = "Details";
   
}

<h1 class="text-center my-2">Chi tiết Banner</h1>

<div>

   
    <div class="row">
       
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-6">
                    @*  @Html.DisplayFor(model => model.Image) *@
                    <img src="@Model.Image" alt="Image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SubTitle)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.SubTitle)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Urls)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Urls)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Orders)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Orders)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Type)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdminCreated)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminCreated)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdminUpdated)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminUpdated)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-6">
                    @*                     @Html.DisplayFor(model => model.Notes) *@
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Notes))

                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.StatusText)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Isdelete)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Isdelete)
                </dd>
            </dl>
       
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary ajax-action" data-url="@Url.Action("Edit", new { id = Model.Id })">Sửa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".click").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
</script>