@using System.Web
@model DevXuongMoc.Models.Product

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
}

<h1 class="text-center my-2">Chi Tiết Sản Phẩm</h1>

<div>

    <hr />
    <div class="row">
       
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Cid)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Cid)
                </dd>
                <dt class="col-sm-6">
                    Mã Sản Phẩm
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-6">
                    Tiêu Đề
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-6">
                    Mô Tả
                </dt>
                <dd class="col-sm-6">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </dd>
                <dt class="col-sm-6">
                    Nội Dung
                </dt>
                <dd class="col-sm-6">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                </dd>
                <dt class="col-sm-6">
                    Hình Ảnh
                </dt>
                <dd class="col-sm-6">
                    <img src="@Model.Image" alt="Image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                </dd>
                <dt class="col-sm-6">
                    Tiêu Đề Meta
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaTitle)
                </dd>
                <dt class="col-sm-6">
                    Từ Khoá Meta
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaKeyword)
                </dd>
                <dt class="col-sm-6">
                    Mô Tả Meta
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaDescription)
                </dd>
                <dt class="col-sm-6">
                    Slug (Đường Dẫn)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Slug)
                </dd>
                <dt class="col-sm-6">
                    Giá Cũ
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PriceOld)
                </dd>
                <dt class="col-sm-6">
                    Giá Mới
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PriceNew)
                </dd>
                <dt class="col-sm-6">
                    Kích Cỡ
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Size)
                </dd>
                <dt class="col-sm-6">
                    Lượt Xem
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Views)
                </dd>
                <dt class="col-sm-6">
                    Lượt Thích
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Likes)
                </dd>
                <dt class="col-sm-6">
                    Đánh Giá (Sao)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Star)
                </dd>
                <dt class="col-sm-6">
                    Hiển Thị Trang Chủ
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Home)
                </dd>
                <dt class="col-sm-6">
                    Sản Phẩm Hot
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Hot)
                </dd>
                <dt class="col-sm-6">
                    Ngày Tạo
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-6">
                    Ngày Cập Nhật
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>
                <dt class="col-sm-6">
                    Admin Tạo
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminCreated)
                </dd>
                <dt class="col-sm-6">
                    Admin Cập Nhật
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminUpdated)
                </dd>
                <dt class="col-sm-6">
                    Trạng Thái
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.StatusText)
                </dd>
                <dt class="col-sm-6">
                    Đã Xóa
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Isdelete)
                </dd>
            </dl>
       
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary ajax-action" data-url="@Url.Action("Edit", new { id = Model.Id })">Sửa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".click").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
</script>