@model DevXuongMoc.Models.Category

@{
    ViewData["Title"] = "Chi Tiết Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class ="text-center my-2">Chi Tiết Danh Mục</h1>

<div>
    
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Tiêu Đề</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>
                <dt class="col-sm-4">Biểu Tượng</dt>
                <dd class="col-sm-8">@* @Html.DisplayFor(model => model.Icon) *@
                    <img src="@Model.Icon" alt="Icon" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                </dd>
                <dt class="col-sm-4" >Tiêu Đề SEO</dt>
                <dd class="col-sm-8" >@Html.DisplayFor(model => model.MateTitle)</dd>
                <dt class="col-sm-4">Từ Khóa SEO</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MetaKeyword)</dd>
                <dt class="col-sm-4">Mô Tả SEO</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MetaDescription)</dd>
                <dt class="col-sm-4">Đường Dẫn</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Slug)</dd>
                <dt class="col-sm-4">Thứ Tự</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Orders)</dd>
                <dt class="col-sm-4">ID Cha</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Parentid)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Ngày Tạo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedDate)</dd>
                <dt class="col-sm-4">Ngày Cập Nhật</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UpdatedDate)</dd>
                <dt class="col-sm-4">Người Tạo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.AdminCreated)</dd>
                <dt class="col-sm-4">Người Cập Nhật</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.AdminUpdated)</dd>
                <dt class="col-sm-4">Ghi Chú</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Notes)</dd>
                <dt class="col-sm-4">Trạng Thái</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StatusText)</dd>
                <dt class="col-sm-4">Đã Xóa</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Isdelete)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Chỉnh Sửa</a> 
    <a asp-action="Index" class="btn btn-secondary">Quay Lại Danh Sách</a>
</div>
