@using System.Web
@model DevXuongMoc.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-2">Chi tiết tin tức</h1>

<div>
    <hr />
    <div class="row">
       
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Code)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-6">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class="col-sm-6">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-6">
                    <img src="@Model.Image" alt="Image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MetaTitle)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaTitle)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MainKeyword)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MainKeyword)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MetaKeyword)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaKeyword)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.MetaDescription)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MetaDescription)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Slug)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Slug)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Views)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Views)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Likes)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Likes)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Star)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Star)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdminCreated)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminCreated)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.AdminUpdated)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AdminUpdated)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.StatusText)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Isdelete)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Isdelete)
                </dd>
            </dl>
      
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary ajax-action" data-url="@Url.Action("Edit", new { id = Model.Id })">Sửa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ajax-action").click(function (e) {
            e.preventDefault();

            // Get the URL from the data attribute
            var url = $(this).data("url");

            // Load the content into the .click div
            $(".click").load(url, function (response, status, xhr) {
                if (status == "error") {
                    alert("Error: " + xhr.status + " " + xhr.statusText);
                }
            });
        });
    });
</script>