@model DevXuongMoc.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="text-center my-2">Chi tiết tin tức</h1>

<div>
    
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Code)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Content)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Image)
                  
                </dt>
                <dd class="col-sm-8">
                   @*  @Html.DisplayFor(model => model.Image) *@
                    <img src="@Model.Image" alt="Image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MetaTitle)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MetaTitle)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MainKeyword)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MainKeyword)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MetaKeyword)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MetaKeyword)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MetaDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.MetaDescription)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Slug)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Slug)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Views)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Views)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Likes)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Likes)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Star)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Star)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AdminCreated)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AdminCreated)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AdminUpdated)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AdminUpdated)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StatusText)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Isdelete)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Isdelete)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
